<div class="row g-0 bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img style="
    object-fit: cover;" src="../assets/eraphone.jpg" class="w-100" alt="...">
    </div>
    <div style="margin-top: 15%;" class="col-md-6 p-4 ps-md-0">
      <h5 class="mt-0">boAt Rockerz 235v2 Bluetooth Headset  (Black, In the Ear)</h5>
      <p>Let music brighten up your mood anytime, anywhere with the boAt 235v2 Fast Charging Bluetooth Headset. This Bluetooth headset features a Call Vibration Alert, a Fast Charging Technology, and Easy Access Controls to listen to and manage your favorite music with ease.
        .</p>
        <span class="badge bg-dark text-white">Highlights</span>
      <p>
        With Mic:Yes <br>
        Bluetooth version: 5.0 <br>
        Wireless range: 10 m <br>
        Fast Charging Technology: Yes <br>
        Call Vibration Alert: Yes <br>
        Water & Sweat Resistance: IPX5 <br>
        Playback: Up to 8 Hours</p>
      <button type="button" class="btn btn-primary" (click)="onClick()">Click here to buy</button>
    </div>
  </div>