<div class="row g-0 bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img style="
    object-fit: cover;" src="../assets/asus.jpg" class="w-100" alt="...">
    </div>
    <div style="margin-top: 10%;" class="col-md-6 p-4 ps-md-0">
      <h5 class="mt-0">Asus V-20</h5>
      <p>Robust, performance-oriented, and stylish, just like gamers, the ASUS ROG Phone 3 is a device meant for gaming. It is packed with multi-level processor cooling features so that your phone stays cool. It also comes with a whopping 6000 mAh battery to let you continue gaming for hours. With the presence of ultrasonic AirTriggers 3 with Dual Partition functionality, this phone even gives you the ability to enjoy console-like gaming.</p>
      <span class="badge bg-dark text-white">Highlights</span>
      <p>
        12 GB RAM | 128 GB ROM <br>
        16.74 cm (6.59 inch) Full HD+ Display <br>
        64MP + 13MP + 5MP | 24MP Front Camera <br>
        6000 mAh Lithium Polymer Battery <br>
        Qualcomm Snapdragon 865+ (SM8250) Processor</p>
      <button type="button" class="btn btn-primary" (click)="onClick()">Click here to buy</button>
    </div>
  </div>

