<div class="container">
  <div>
    <h1 style="margin-top: 2%;" class='text-center'>Contact Us</h1>
  </div>
  <form #form="ngForm" (submit)="onSubmit(form)">
    <div  class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name*" ngModel>
    </div>
    <div  class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email*" ngModel>
    </div>
    <div  class="form-group">
      <label for="phone">PhoneNo</label>
      <input type="number" class="form-control" id="phone" name="phone" placeholder="Enter your Phoneno*" ngModel>
    </div>
    <div class="form-group">
      <label for="desc">Drop us a message</label>
      <textarea class="form-control" id="desc" name="desc" rows="3" placeholder="Message*" ngModel></textarea>
    </div>
    <div>
      <button class="btn btn-primary btn-center">Submit</button>
    </div>
  </form>
</div>
