<div class="row g-0 bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img style="
    object-fit: cover;" src="../assets/newtrimmer.png" class="w-100" alt="...">
    </div>
    <div style="margin-top: 15%;" class="col-md-6 p-4 ps-md-0">
      <h5 class="mt-0">Philips OneBlade QP2525/10 Runtime: 45 min Trimmer for Men</h5>
      <p>The Philips one blade is a revolutionary new hybrid tool that can style, trim and shave, while keeping the skin feeling soft. Forget about using multiple steps and tools. Get your style with just one blade.
        .</p>
        <span class="badge bg-dark text-white">Highlights</span>
      <p>
        Blade Material: Stainless Steel <br>
        Trimming Range: 1 - 4 mm <br>
        45 min battery run time <br>
        3 length settings <br>
        Gender: Men <br>
        For Beard & Moustache <br>
        Unique OneBlade Technology</p>
      <button type="button" class="btn btn-primary" (click)="onClick()">Click here to buy</button>
    </div>
  </div>